# OS
.DS_Store
Thumbs.db

# エディタ
.vscode/

# 一時ファイル
*.log
*.tmp
tmp/


# スクリーンショット・素材
screenshots/
images/
/resource/lyric/*

# バックアップ
backup/
old/
archive/

# テストプロジェクト
/resource/*_project*.json

# OS
.DS_Store
Thumbs.db

# ドキュメント
/docs/test/
/docs/draft/
/docs/finished/

#　オーディオファイル
*.mp3
*.flac
*.wav
*.m4a